{"openapi":"3.0.3","info":{"title":"OffTheRecord Rest Service API - Devo","description":"A service to handle your traffic tickets","termsOfService":"http://blog.offtherecord.com/post/121796341322/terms-and-conditions","contact":{"name":"team@offtherecord.com"},"license":{"name":"Our site","url":"http://offtherecord.com"},"version":"1.0"},"servers":[{"url":"https://otr-backend-service-us-devo.offtherecord.com:443","description":"Inferred Url"}],"tags":[{"name":"action-required-controller","description":"Action Required Controller"},{"name":"activity-feed-controller","description":"Activity Feed Controller"},{"name":"address-controller","description":"Address Controller"},{"name":"alert-notification-controller","description":"Alert Notification Controller"},{"name":"app-events-controller","description":"App Events Controller"},{"name":"audit-lawfirm-events-controller","description":"Audit Lawfirm Events Controller"},{"name":"audit-log-controller","description":"Audit Log Controller"},{"name":"authentication-controller","description":"Authentication Controller"},{"name":"aws-credentials-controller","description":"AWS Credentials Controller"},{"name":"blog-webhook-controller","description":"Blog Webhook Controller"},{"name":"branch-link-controller","description":"Branch Link Controller"},{"name":"captcha-controller","description":"Captcha Controller"},{"name":"case-actions-controller","description":"Case Actions Controller"},{"name":"case-controller","description":"Operations around a user's case such as fetching, updating, and canceling cases..."},{"name":"case-counter-offer-controller","description":"Case Counter Offer Controller"},{"name":"case-creation-controller","description":"Case Creation Controller"},{"name":"case-decline-controller","description":"Case Decline Controller"},{"name":"case-notes-controller","description":"Case Notes Controller"},{"name":"case-payment-controller","description":"Case Payment Controller"},{"name":"case-referral-code-controller","description":"Case Referral Code Controller"},{"name":"case-refund-controller","description":"Case Refund Controller"},{"name":"case-resolution-controller","description":"Case Resolution Controller"},{"name":"case-status-controller","description":"Case Status Controller"},{"name":"case-transfer-controller","description":"Operations to handle case transfers between lawfirms"},{"name":"case-user-controller","description":"Case User Controller"},{"name":"certificate-controller","description":"Certificate Controller"},{"name":"citation-audit-controller","description":"Citation Audit Controller"},{"name":"citation-controller","description":"Citation Controller"},{"name":"coaching-cards-controller","description":"Coaching Cards Controller"},{"name":"configuration-controller","description":"Configuration Controller"},{"name":"console-list-controller","description":"Console List Controller"},{"name":"contact-loop-webhook-controller","description":"Contact Loop Webhook Controller"},{"name":"contact-timeline-controller","description":"Contact Timeline Controller"},{"name":"conversation-controller","description":"Conversation Controller"},{"name":"county-controller","description":"County Controller"},{"name":"court-controller","description":"Court Controller"},{"name":"crm-controller","description":"CRM Controller"},{"name":"customer-lead-controller","description":"Customer Lead Controller"},{"name":"customer-review-controller","description":"Customer Review Controller"},{"name":"customer-service-agent-bookings-controller","description":"Customer Service Agent Bookings Controller"},{"name":"customer-service-agent-controller","description":"Customer Service Agent Controller"},{"name":"dashboard-controller","description":"Dashboard Controller"},{"name":"direct-mail-controller","description":"Direct Mail Controller"},{"name":"drip-controller","description":"Drip Controller"},{"name":"drip-webhooks-controller","description":"Drip Webhooks Controller"},{"name":"driver-license-controller","description":"Driver License Controller"},{"name":"email-subscription-controller","description":"Email Subscription Controller"},{"name":"employee-controller","description":"Employee Controller"},{"name":"event-bridge-email-notification-controller","description":"Event Bridge Email Notification Controller"},{"name":"external-content-vote-controller","description":"External Content Vote Controller"},{"name":"external-ticket-lookup-controller","description":"External Ticket Lookup Controller"},{"name":"feedback-controller","description":"Feedback Controller"},{"name":"freshcaller-controller","description":"Freshcaller Controller"},{"name":"freshdesk-ticket-controller","description":"Freshdesk Ticket Controller"},{"name":"get-case-controller","description":"Get Case Controller"},{"name":"household-mate-controller","description":"Household Mate Controller"},{"name":"hubspot-webhook-controller","description":"Hubspot Webhook Controller"},{"name":"insurance-calculator-controller","description":"Insurance Calculator Controller"},{"name":"intercom-ticket-controller","description":"Intercom Ticket Controller"},{"name":"intercom-webhook-controller","description":"Intercom Webhook Controller"},{"name":"lawfirm-case-decision-controller","description":"Lawfirm Case Decision Controller"},{"name":"lawfirm-cases-controller","description":"Lawfirm Cases Controller"},{"name":"lawfirm-controller","description":"Lawfirm Controller"},{"name":"lawfirm-document-controller","description":"Lawfirm Document Controller"},{"name":"lawfirm-fee-coverage-controller","description":"Lawfirm Fee Coverage Controller"},{"name":"lawfirm-payment-model-controller","description":"Lawfirm Payment Model Controller"},{"name":"lawfirm-rates-controller","description":"Lawfirm Rates Controller"},{"name":"lawfirm-settings-controller","description":"Lawfirm Settings Controller"},{"name":"lawfirm-storefront-controller","description":"Lawfirm Storefront Controller"},{"name":"lawfirm-surcharge-controller","description":"Lawfirm Surcharge Controller"},{"name":"lawfirm-transactions-controller","description":"Lawfirm Transactions Controller"},{"name":"lawyer-controller","description":"Lawyer Controller"},{"name":"legal-services-controller","description":"Legal Services Controller"},{"name":"line-item-controller","description":"Line Item Controller"},{"name":"list-cases-controller","description":"List Cases Controller"},{"name":"media-creation-controller","description":"Media Creation Controller"},{"name":"messages-controller","description":"Messages Controller"},{"name":"notes-controller","description":"Notes Controller"},{"name":"ocr-pipeline-controller","description":"OCR Pipeline Controller"},{"name":"ocr-prediction-controller","description":"OCR Prediction Controller"},{"name":"on-demand-request-controller","description":"On Demand Request Controller"},{"name":"one-time-password-controller","description":"One Time Password Controller"},{"name":"phone-leads-controller","description":"Phone Leads Controller"},{"name":"push-notification-controller","description":"Push Notification Controller"},{"name":"recurring-billing-controller","description":"Recurring Billing Controller"},{"name":"ref-link-controller","description":"Ref Link Controller"},{"name":"referral-code-controller","description":"Referral Code Controller"},{"name":"referral-controller","description":"Referral Controller"},{"name":"referral-source-controller","description":"Referral Source Controller"},{"name":"refund-eligibility-controller","description":"Refund Eligibility Controller"},{"name":"registration-controller","description":"Registration Controller"},{"name":"reporting-controller","description":"Reporting Controller"},{"name":"scheduled-task-controller","description":"Scheduled Task Controller"},{"name":"single-sign-on-controller","description":"Single Sign On Controller"},{"name":"sns-listener-controller","description":"SNS Listener Controller"},{"name":"social-login-controller","description":"Social Login Controller"},{"name":"stripe-card-controller","description":"Stripe Card Controller"},{"name":"stripe-controller","description":"Stripe Controller"},{"name":"stripe-sync-controller","description":"Stripe Sync Controller"},{"name":"stripe-webhook-controller","description":"Stripe Webhook Controller"},{"name":"ticket-review-controller","description":"Ticket Review Controller"},{"name":"url-redirect-controller","description":"Url Redirect Controller"},{"name":"user-account-controller","description":"User Account Controller"},{"name":"user-audit-controller","description":"User Audit Controller"},{"name":"user-controller","description":"User Controller"},{"name":"user-password-controller","description":"User Password Controller"},{"name":"user-profile-controller","description":"User Profile Controller"},{"name":"user-search-controller","description":"User Search Controller"},{"name":"user-settings-controller","description":"User Settings Controller"},{"name":"user-social-profile-controller","description":"User Social Profile Controller"},{"name":"utility-controller","description":"Utility Controller"},{"name":"validation-controller","description":"Validation Controller"},{"name":"verification-controller","description":"Verification Controller"},{"name":"violation-controller","description":"Violation Controller"},{"name":"violation-penalty-controller","description":"Violation Penalty Controller"},{"name":"watchlists-controller","description":"Watchlists Controller"},{"name":"websocket-message-controller","description":"Websocket Message Controller"},{"name":"workflow-state-controller","description":"Workflow State Controller"}],"paths":{"/api/v1/notifications/action-required":{"post":{"tags":["action-required-controller"],"summary":"notifyClientActionRequirement","operationId":"notifyClientActionRequirementUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClientActionRequiredRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/activity-feed":{"get":{"tags":["activity-feed-controller"],"summary":"listActivityFeed","operationId":"listActivityFeedUsingGET","parameters":[{"name":"limit","in":"query","description":"limit","required":true,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"regionCode","in":"query","description":"regionCode","required":false,"style":"form","schema":{"type":"string"}},{"name":"preferredRegionCode","in":"query","description":"preferredRegionCode","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"previousPageToken","in":"query","description":"previousPageToken","required":false,"style":"form","schema":{"type":"string"}},{"name":"nextPageToken","in":"query","description":"nextPageToken","required":false,"style":"form","schema":{"type":"string"}},{"name":"hasProfilePicture","in":"query","description":"hasProfilePicture","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"activityType","in":"query","description":"activityType","required":false,"style":"form","schema":{"type":"string","enum":["PURCHASE","REFERRAL","REFUND","RESOLUTION","TICKET_REVIEW"]}},{"name":"courtId","in":"query","description":"courtId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetActivityFeedResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/activity-feed/case-outcomes":{"get":{"tags":["activity-feed-controller"],"summary":"listCaseOutcomes","operationId":"listCaseOutcomesUsingGET","parameters":[{"name":"limit","in":"query","description":"limit","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"regionCode","in":"query","description":"regionCode","required":false,"style":"form","schema":{"type":"string"}},{"name":"startDate","in":"query","description":"startDate","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"includeCriminal","in":"query","description":"includeCriminal","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"resolutionStatuses","in":"query","description":"resolutionStatuses","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["LOST","POINTS_REDUCED","REDUCED_TO_NON_MOVER","TICKET_DISMISSED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListCaseOutcomesResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/countries":{"get":{"tags":["address-controller"],"summary":"getCountryList","operationId":"getCountryListUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCountryListResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/countries/{countryCode}/regions":{"get":{"tags":["address-controller"],"summary":"getCountryRegions","operationId":"getCountryRegionsUsingGET","parameters":[{"name":"countryCode","in":"path","description":"countryCode","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCountryRegionsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/locations":{"get":{"tags":["address-controller"],"summary":"getLocation","operationId":"getLocationUsingGET","parameters":[{"name":"zipCode","in":"query","description":"zipCode","required":true,"style":"form","schema":{"type":"string"}},{"name":"countryCode","in":"query","description":"countryCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetLocationResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/alerts/{alertId}":{"delete":{"tags":["alert-notification-controller"],"summary":"markAlertAsRead","operationId":"markAlertAsReadUsingDELETE","parameters":[{"name":"alertId","in":"path","description":"alertId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertNotificationResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/alerts/{userId}":{"get":{"tags":["alert-notification-controller"],"summary":"getAlerts","operationId":"getAlertsUsingGET","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AlertNotificationResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/app-events":{"post":{"tags":["app-events-controller"],"summary":"addAppEvent","operationId":"addAppEventUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppEventCreateRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/lawfirms/{lawfirmId}/audit-events":{"get":{"tags":["audit-lawfirm-events-controller"],"summary":"listLawfirmAuditEventsByCursor","operationId":"listLawfirmAuditEventsByCursorUsingGET","parameters":[{"name":"lawfirmId","in":"path","description":"lawfirmId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"limit","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"includeTypes","in":"query","description":"includeTypes","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ACCOUNT_COVERAGE_ADDED","ACCOUNT_COVERAGE_REMOVED","ACCOUNT_MANAGER_CHANGED","ACCOUNT_NOTIFICATION_STATUS_CHANGED","ACCOUNT_STATUS_CHANGED","CASE_ACCEPT","CASE_BOOKING","CASE_BOOKING_FAILED","CASE_CANCEL","CASE_COUNTER_ACCEPTED","CASE_COUNTER_DECLINED","CASE_COUNTER_INITIATED","CASE_COUNTER_WITHDRAWN","CASE_DECLINE","CASE_MATCH","CASE_PAYMENT_DELETED","CASE_PAYMENT_RESCHEDULED","CASE_RESOLVE","CASE_STATUS","CASE_TRANSFER","CASE_UNSERVICEABLE_REQUEST","CITATION_UPDATED","CITATION_UPLOAD","COURT_COVERAGE_ADDED","COURT_COVERAGE_REMOVED","COURT_FEE_CHANGED","CUSTOMER_REVIEW_ADDED","CUSTOM_FEES_RESET_TO_DEFAULT_FOR_VIOLATION","DECIDE_EXPERIMENT_GROUP_COMMAND","DEFAULT_FEE_ADDED","DEFAULT_FEE_CHANGED","DEFAULT_FEE_REFUND_ELIGIBILITY_CHANGED","DEFAULT_FEE_REMOVED","DRIVER_LICENSE_UPLOADED","EMAIL_SENT","EXTERNAL_TICKET_REQUEST","GHOST_ACCOUNT_CREATED","LAWFIRM_ACCOUNT_PRIORITY","LAWFIRM_ACCOUNT_STATUS","LAWFIRM_ADDRESS_UPDATED","LAWFIRM_DAILY_CAPACITY","LAWFIRM_FEE_REFUNDED","LAWFIRM_NAME_CHANGED","LAWFIRM_PERSONNEL_ADDED","LAWFIRM_PROFILE_UPDATED","LAWFIRM_SETTING_UPDATED","LAWFIRM_SUPPORTED_STATE_UPDATED","LAWFIRM_TOTAL_CAPACITY","LAWFIRM_TRANSFER_REVERSED","LINE_ITEM_ADDED","LINE_ITEM_DELETED","LINE_ITEM_UPDATED","MBG_ELIGIBILITY_CHANGED","NAME_CHANGED","OCR_TEXT_EXTRACTED","PASSWORD_CHANGE","PASSWORD_RESET_REQUESTED","PAYMENT_AUTHORIZED","PAYMENT_CAPTURED","PAYMENT_FAILED","PAYMENT_METHOD_ADD","PAYMENT_METHOD_DELETE","PAYMENT_PLAN_OPTION_CHANGED","PAYMENT_REFUNDED","PAYMENT_SCHEDULED","PHONE_NUMBER_ADDED","PHONE_NUMBER_DELETED","PROFILE_PICTURE_UPDATED","REFERRAL_CODE_APPLIED","REFERRAL_CODE_ATTEMPT_FAILED","REFERRAL_CODE_REMOVED","SAVE_VACATION_MODE_END_DATE","SAVE_VACATION_MODE_REASON","SUBSCRIPTION_PLAN_PURCHASED","UNKNOWN","USER_DELETED","USER_LOGIN_EVENT","USER_MERGE","USER_REGISTRATION","USER_REGISTRATION_ATTRIBUTED","USER_REVIVED","USER_SETTING_UPDATED","VACATION_MODE_TOGGLE","VACATION_MODE_UPDATE","VERIFY_EMAIL","VERIFY_PHONE","VIOLATION_ENABLED_FOR_ALL_COVERED_COURTS"]}},{"name":"excludeTypes","in":"query","description":"excludeTypes","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ACCOUNT_COVERAGE_ADDED","ACCOUNT_COVERAGE_REMOVED","ACCOUNT_MANAGER_CHANGED","ACCOUNT_NOTIFICATION_STATUS_CHANGED","ACCOUNT_STATUS_CHANGED","CASE_ACCEPT","CASE_BOOKING","CASE_BOOKING_FAILED","CASE_CANCEL","CASE_COUNTER_ACCEPTED","CASE_COUNTER_DECLINED","CASE_COUNTER_INITIATED","CASE_COUNTER_WITHDRAWN","CASE_DECLINE","CASE_MATCH","CASE_PAYMENT_DELETED","CASE_PAYMENT_RESCHEDULED","CASE_RESOLVE","CASE_STATUS","CASE_TRANSFER","CASE_UNSERVICEABLE_REQUEST","CITATION_UPDATED","CITATION_UPLOAD","COURT_COVERAGE_ADDED","COURT_COVERAGE_REMOVED","COURT_FEE_CHANGED","CUSTOMER_REVIEW_ADDED","CUSTOM_FEES_RESET_TO_DEFAULT_FOR_VIOLATION","DECIDE_EXPERIMENT_GROUP_COMMAND","DEFAULT_FEE_ADDED","DEFAULT_FEE_CHANGED","DEFAULT_FEE_REFUND_ELIGIBILITY_CHANGED","DEFAULT_FEE_REMOVED","DRIVER_LICENSE_UPLOADED","EMAIL_SENT","EXTERNAL_TICKET_REQUEST","GHOST_ACCOUNT_CREATED","LAWFIRM_ACCOUNT_PRIORITY","LAWFIRM_ACCOUNT_STATUS","LAWFIRM_ADDRESS_UPDATED","LAWFIRM_DAILY_CAPACITY","LAWFIRM_FEE_REFUNDED","LAWFIRM_NAME_CHANGED","LAWFIRM_PERSONNEL_ADDED","LAWFIRM_PROFILE_UPDATED","LAWFIRM_SETTING_UPDATED","LAWFIRM_SUPPORTED_STATE_UPDATED","LAWFIRM_TOTAL_CAPACITY","LAWFIRM_TRANSFER_REVERSED","LINE_ITEM_ADDED","LINE_ITEM_DELETED","LINE_ITEM_UPDATED","MBG_ELIGIBILITY_CHANGED","NAME_CHANGED","OCR_TEXT_EXTRACTED","PASSWORD_CHANGE","PASSWORD_RESET_REQUESTED","PAYMENT_AUTHORIZED","PAYMENT_CAPTURED","PAYMENT_FAILED","PAYMENT_METHOD_ADD","PAYMENT_METHOD_DELETE","PAYMENT_PLAN_OPTION_CHANGED","PAYMENT_REFUNDED","PAYMENT_SCHEDULED","PHONE_NUMBER_ADDED","PHONE_NUMBER_DELETED","PROFILE_PICTURE_UPDATED","REFERRAL_CODE_APPLIED","REFERRAL_CODE_ATTEMPT_FAILED","REFERRAL_CODE_REMOVED","SAVE_VACATION_MODE_END_DATE","SAVE_VACATION_MODE_REASON","SUBSCRIPTION_PLAN_PURCHASED","UNKNOWN","USER_DELETED","USER_LOGIN_EVENT","USER_MERGE","USER_REGISTRATION","USER_REGISTRATION_ATTRIBUTED","USER_REVIVED","USER_SETTING_UPDATED","VACATION_MODE_TOGGLE","VACATION_MODE_UPDATE","VERIFY_EMAIL","VERIFY_PHONE","VIOLATION_ENABLED_FOR_ALL_COVERED_COURTS"]}},{"name":"nextPageToken","in":"query","description":"nextPageToken","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListLawfirmAuditEventsByCursorResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationId}/audit-logs":{"get":{"tags":["audit-log-controller"],"summary":"getAuditLogs","operationId":"getAuditLogsUsingGET","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"logType","in":"query","description":"logType","required":false,"style":"form","schema":{"type":"string","enum":["APPLY_REFERRAL_CODE","CREATE_LEGAL_SERVICES","INITIATE_CASE","MATCH_CASE","OTHER","TRANSFER_CASE"]}},{"name":"logLevel","in":"query","description":"logLevel","required":false,"style":"form","schema":{"type":"string","enum":["NON_TECHNICAL","TECHNICAL"]}},{"name":"showActiveOnly","in":"query","description":"showActiveOnly","required":false,"style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCitationAuditLogsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/authentication/user":{"get":{"tags":["authentication-controller"],"summary":"getUserInfo","operationId":"getUserInfoUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCurrentUserResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/credentials/aws":{"post":{"tags":["aws-credentials-controller"],"summary":"getAwsCredentials","operationId":"getAwsCredentialsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AwsCredentialsRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SimpleCredentialsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/webhooks/prismic":{"post":{"tags":["blog-webhook-controller"],"summary":"handleEvent","operationId":"handleEventUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BlogEvent"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/branch/link":{"post":{"tags":["branch-link-controller"],"summary":"createBranchLink","operationId":"createBranchLinkUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBranchLinkRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/captcha/verify-token":{"post":{"tags":["captcha-controller"],"summary":"verifyCaptchaToken","operationId":"verifyCaptchaTokenUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyCaptchaTokenRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerifyCaptchaTokenResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/actions":{"get":{"tags":["case-actions-controller"],"summary":"getAllActions","operationId":"getAllActionsUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseActionTypesResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/actions":{"get":{"tags":["case-actions-controller"],"summary":"getCaseActions","operationId":"getCaseActionsUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"showDeleted","in":"query","description":"showDeleted","required":false,"style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseActionResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/actions/timeline":{"get":{"tags":["case-actions-controller"],"summary":"getActionTimeline","operationId":"getActionTimelineUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseActionTimelineResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/actions/{caseActionId}":{"put":{"tags":["case-actions-controller"],"summary":"updateCaseAction","operationId":"updateCaseActionUsingPUT","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"caseActionId","in":"path","description":"caseActionId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCaseActionRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateCaseActionResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["case-actions-controller"],"summary":"markActionAsDeleted","operationId":"markActionAsDeletedUsingDELETE","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"caseActionId","in":"path","description":"caseActionId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"isDeleted","in":"query","description":"isDeleted","required":true,"style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MarkActionAsDeletedResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v2/cases/{caseId}/actions":{"post":{"tags":["case-actions-controller"],"summary":"addActionToCaseV2","operationId":"addActionToCaseV2UsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddActionToCaseRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddActionToCaseResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/archive":{"put":{"tags":["case-controller"],"summary":"setArchiveOnCases","operationId":"setArchiveOnCasesUsingPUT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetArchiveOnCasesRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}":{"get":{"tags":["get-case-controller"],"summary":"getCase","operationId":"getCaseUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["case-controller"],"summary":"updateCase","operationId":"updateCaseUsingPUT","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseModelReq"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/appearance-attorneys":{"get":{"tags":["case-controller"],"summary":"getAppearanceAttorneysForCase","operationId":"getAppearanceAttorneysForCaseUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetAppearanceAttorneysResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/citation/violations":{"post":{"tags":["case-controller"],"summary":"addViolationsToCitation","operationId":"addViolationsToCitationUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddViolationsToCitationRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/citation/violations/{violationTypes}":{"delete":{"tags":["case-controller"],"summary":"removeViolationsFromCitation","operationId":"removeViolationsFromCitationUsingDELETE","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"violationTypes","in":"path","description":"violationTypes","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/cases/{caseId}/courtdate":{"post":{"tags":["case-controller"],"summary":"setCourtDateForCase","operationId":"setCourtDateForCaseUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SetCourtDateForCaseRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/decline-tickets":{"put":{"tags":["case-controller"],"summary":"updateDeclineTickets","operationId":"updateDeclineTicketsUsingPUT","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCaseDeclineTicketsRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/disputes":{"get":{"tags":["case-controller"],"summary":"findChargeDisputesByCaseId","operationId":"findChargeDisputesByCaseIdUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindChargeDisputesResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/initiate":{"post":{"tags":["case-controller"],"summary":"initiateCase","operationId":"initiateCaseUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiateCaseRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/initiate-with-payment":{"post":{"tags":["case-controller"],"summary":"initiateCaseAndChargeCustomer","operationId":"initiateCaseAndChargeCustomerUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiateCaseAndChargeCustomerRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InitiateCaseAndChargeCustomerResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/owner":{"post":{"tags":["case-controller"],"summary":"assignOwner","operationId":"assignOwnerUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/cases/{caseId}/owner/{userId}":{"post":{"tags":["case-controller"],"summary":"assignCaseToUser","operationId":"assignCaseToUserUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/price-match":{"post":{"tags":["case-controller"],"summary":"submitRequestForPriceMatch","operationId":"submitRequestForPriceMatchUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceMatchRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PriceMatchResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/reopen":{"put":{"tags":["case-controller"],"summary":"reopenCase","operationId":"reopenCaseUsingPUT","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/resolution":{"post":{"tags":["case-controller"],"summary":"markCaseAsResolved","operationId":"markCaseAsResolvedUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarkCaseAsResolvedRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MarkCaseAsResolvedResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/support-tickets":{"get":{"tags":["case-controller"],"summary":"getSupportTicketsForCase","operationId":"getSupportTicketsForCaseUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"limit","in":"query","description":"limit","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetSupportTicketsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/cases/{caseId}/counters/{counterId}/generate-payment-plan":{"post":{"tags":["case-counter-offer-controller"],"summary":"generateCounterOfferCasePayments","operationId":"generateCounterOfferCasePaymentsUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"counterId","in":"path","description":"counterId","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateCounterOfferCasePaymentsRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GenerateCounterOfferCasePaymentsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/counter-options":{"get":{"tags":["case-counter-offer-controller"],"summary":"getCaseCounterOptions","operationId":"getCaseCounterOptionsUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseCounterOptionsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/counters":{"get":{"tags":["case-counter-offer-controller"],"summary":"getCounterOffer","operationId":"getCounterOfferUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCounterOfferResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["case-counter-offer-controller"],"summary":"initiateCaseCounter","operationId":"initiateCaseCounterUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiateCaseCounterRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/InitiateCaseCounterResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/counters/{counterId}":{"get":{"tags":["case-counter-offer-controller"],"summary":"getCounterOfferByCounterId","operationId":"getCounterOfferByCounterIdUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"counterId","in":"path","description":"counterId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCounterOfferResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/counters/{counterId}/accept":{"put":{"tags":["case-counter-offer-controller"],"summary":"acceptCaseCounter","operationId":"acceptCaseCounterUsingPUT","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"counterId","in":"path","description":"counterId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcceptCaseCounterRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/counters/{counterId}/decline":{"put":{"tags":["case-counter-offer-controller"],"summary":"declineCaseCounter","operationId":"declineCaseCounterUsingPUT","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"counterId","in":"path","description":"counterId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeclineCaseCounterRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/counters/{counterId}/withdraw":{"put":{"tags":["case-counter-offer-controller"],"summary":"withdrawCaseCounter","operationId":"withdrawCaseCounterUsingPUT","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"counterId","in":"path","description":"counterId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationIdString}/case":{"post":{"tags":["case-creation-controller"],"summary":"matchCase","operationId":"matchCaseUsingPOST","parameters":[{"name":"citationIdString","in":"path","description":"citationIdString","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaseCreationRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MatchCaseResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/citations/{lawfirmId}/sample":{"put":{"tags":["case-creation-controller"],"summary":"addSampleCase","operationId":"addSampleCaseUsingPUT","parameters":[{"name":"lawfirmId","in":"path","description":"lawfirmId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/declines/reasons":{"get":{"tags":["case-decline-controller"],"summary":"getCaseDeclineReasonTypes","operationId":"getCaseDeclineReasonTypesUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseDeclineReasonTypesResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/notes":{"get":{"tags":["case-notes-controller"],"summary":"getCaseNotes","operationId":"getCaseNotesUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseNotesResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["case-notes-controller"],"summary":"saveCaseNotes","operationId":"saveCaseNotesUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveCaseNotesRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/charges/{stripeChargeId}":{"get":{"tags":["case-payment-controller"],"summary":"getStripeCharge","operationId":"getStripeChargeUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"stripeChargeId","in":"path","description":"stripeChargeId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetStripeChargeResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/customer/cost":{"get":{"tags":["case-payment-controller"],"summary":"listCostItemsForCustomer","operationId":"listCostItemsForCustomerUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"productId","in":"query","description":"productId","required":false,"style":"form","schema":{"type":"string"}},{"name":"period","in":"query","description":"period","required":false,"style":"form","schema":{"type":"string","enum":["DAILY","MONTHLY","QUARTERLY","WEEKLY","YEARLY"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListCostItemsForCustomerResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/overdue-payments":{"get":{"tags":["case-payment-controller"],"summary":"getOverdueCasePayments","operationId":"getOverdueCasePaymentsUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"includeUpcoming","in":"query","description":"includeUpcoming","required":false,"style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetOverdueCasePaymentsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/payment-plans":{"get":{"tags":["case-payment-controller"],"summary":"getPaymentPlanOptions","operationId":"getPaymentPlanOptionsUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"lawfirmId","in":"query","description":"lawfirmId","required":true,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","description":"userId","required":false,"style":"form","schema":{"type":"integer","format":"int64"}},{"name":"feeInCents","in":"query","description":"feeInCents","required":false,"style":"form","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetAvailablePaymentPlansResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/payment-plans/{paymentPlanTypeId}":{"get":{"tags":["case-payment-controller"],"summary":"generateCasePaymentPlan","operationId":"generateCasePaymentPlanUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"paymentPlanTypeId","in":"path","description":"paymentPlanTypeId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"productId","in":"query","description":"productId","required":false,"style":"form","schema":{"type":"string"}},{"name":"period","in":"query","description":"period","required":false,"style":"form","schema":{"type":"string","enum":["DAILY","MONTHLY","QUARTERLY","WEEKLY","YEARLY"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListCostItemsForCustomerResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true},"post":{"tags":["case-payment-controller"],"summary":"saveCasePaymentPlan","operationId":"saveCasePaymentPlanUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"paymentPlanTypeId","in":"path","description":"paymentPlanTypeId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveCasePaymentPlan"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/payments":{"get":{"tags":["case-payment-controller"],"summary":"getCasePayments","operationId":"getCasePaymentsUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"includeInactiveLawfirmCases","in":"query","description":"includeInactiveLawfirmCases","required":false,"style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCasePaymentsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["case-payment-controller"],"summary":"scheduleNewPayment","operationId":"scheduleNewPaymentUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScheduleNewPaymentRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/payments/{casePaymentId}":{"delete":{"tags":["case-payment-controller"],"summary":"deleteCasePayment","operationId":"deleteCasePaymentUsingDELETE","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"casePaymentId","in":"path","description":"casePaymentId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/cases/{caseId}/payments/{casePaymentId}/authorize":{"post":{"tags":["case-payment-controller"],"summary":"authorizeChargeForCasePayment","operationId":"authorizeChargeForCasePaymentUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"casePaymentId","in":"path","description":"casePaymentId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizeChargeForCasePaymentRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AuthorizeChargeForCasePaymentResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/payments/{casePaymentId}/capture":{"post":{"tags":["case-payment-controller"],"summary":"captureChargeFromCasePayment","operationId":"captureChargeFromCasePaymentUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"casePaymentId","in":"path","description":"casePaymentId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CaptureChargeFromCasePaymentRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/stripe-charges":{"get":{"tags":["case-payment-controller"],"summary":"getStripeCharges","operationId":"getStripeChargesUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetStripeChargesResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/payment-plans/{lawfirmId}/case-payment":{"post":{"tags":["case-payment-controller"],"summary":"getAvailablePaymentPlans","operationId":"getAvailablePaymentPlansUsingPOST","parameters":[{"name":"lawfirmId","in":"path","description":"lawfirmId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"legalFeeInCents","in":"query","description":"legalFeeInCents","required":true,"style":"form","schema":{"type":"string"}},{"name":"state","in":"query","description":"state","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetAvailablePaymentPlansResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/payments/{casePaymentId}":{"put":{"tags":["case-payment-controller"],"summary":"updateCasePayment","operationId":"updateCasePaymentUsingPUT","parameters":[{"name":"casePaymentId","in":"path","description":"casePaymentId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCasePaymentRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/payments/{casePaymentId}/due-date":{"put":{"tags":["case-payment-controller"],"summary":"updatePaymentDueDate","operationId":"updatePaymentDueDateUsingPUT","parameters":[{"name":"casePaymentId","in":"path","description":"casePaymentId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePaymentDueDateRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/payments/{casePaymentId}/owner":{"put":{"tags":["case-payment-controller"],"summary":"updatePaymentRecipient","operationId":"updatePaymentRecipientUsingPUT","parameters":[{"name":"casePaymentId","in":"path","description":"casePaymentId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"recipient","in":"query","description":"recipient","required":true,"style":"form","schema":{"type":"string","enum":["COURT","LAWFIRM","OTR"]}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/referralcode/{codeId}":{"post":{"tags":["case-referral-code-controller"],"summary":"applyReferralCode","description":"Apply referral code to a case to adjust the estimated cost and/or to assign the rightful lawfirm. This operation is idempotent","operationId":"applyReferralCodeUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"codeId","in":"path","description":"codeId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MatchCaseResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/cases/{caseId}/referralcode/{codeId}":{"delete":{"tags":["case-referral-code-controller"],"summary":"removeReferralCodeFromCaseV2","operationId":"removeReferralCodeFromCaseV2UsingDELETE","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"codeId","in":"path","description":"codeId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/cases/{caseId}/payments/{casePaymentId}/refund":{"post":{"tags":["case-refund-controller"],"summary":"refundCasePayment","operationId":"refundCasePaymentUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"casePaymentId","in":"path","description":"casePaymentId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefundCasePaymentRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/payments/{casePaymentId}/release":{"post":{"tags":["case-refund-controller"],"summary":"releasePayment","operationId":"releasePaymentUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"casePaymentId","in":"path","description":"casePaymentId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/refund-eligibility":{"put":{"tags":["case-refund-controller"],"summary":"updateRefundEligibilityForCase","operationId":"updateRefundEligibilityForCaseUsingPUT","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRefundEligibilityForCaseRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetSupportTicketsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/cases":{"delete":{"tags":["case-refund-controller"],"summary":"cancelCase","operationId":"cancelCaseUsingDELETE","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelCaseRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/cases/{caseId}/send-social-media-ask":{"post":{"tags":["case-resolution-controller"],"summary":"addSocialMediaAction","operationId":"addSocialMediaActionUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/case-statuses":{"get":{"tags":["case-status-controller"],"summary":"getCaseStatuses","operationId":"getCaseStatusesUsingGET","parameters":[{"name":"categories","in":"query","description":"categories","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ACTIVE","CANCELLED","RESOLVED","UNCONFIRMED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CaseStatusDetailsResponse"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/case-statuses/resolution-statuses":{"get":{"tags":["case-status-controller"],"summary":"getCaseResolutionStatuses","operationId":"getCaseResolutionStatusesUsingGET","parameters":[{"name":"stateCode","in":"query","description":"stateCode","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseResolutionStatusesResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/transfer":{"get":{"tags":["case-transfer-controller"],"summary":"getTransferHistory","operationId":"getTransferHistoryUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CaseTransferResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["case-transfer-controller"],"summary":"transferCase","operationId":"transferCaseUsingPUT","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransferCaseRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/transfer/{lawfirmId}/calculate-fee-difference":{"post":{"tags":["case-transfer-controller"],"summary":"calculateTransferFeeDifference","operationId":"calculateTransferFeeDifferenceUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"lawfirmId","in":"path","description":"lawfirmId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CalculateTransferFeeDifferenceResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/case-users/{caseUsersId}/cases/{caseId}":{"delete":{"tags":["case-user-controller"],"summary":"deleteCaseUser","operationId":"deleteCaseUserUsingDELETE","parameters":[{"name":"caseUsersId","in":"path","description":"caseUsersId","required":true,"style":"simple","schema":{"type":"integer","format":"int32"}},{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/cases/participants/accept-invite":{"put":{"tags":["case-user-controller"],"summary":"acceptParticipantInvite","operationId":"acceptParticipantInviteUsingPUT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcceptParticipantInviteRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/participants/invite":{"post":{"tags":["case-user-controller"],"summary":"inviteCaseParticipant","operationId":"inviteCaseParticipantUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InviteCaseParticipantRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/participants/resend-invite":{"post":{"tags":["case-user-controller"],"summary":"resendCaseParticipantInvite","operationId":"resendCaseParticipantInviteUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"emailAddress","in":"query","description":"emailAddress","required":true,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/{caseId}/users":{"get":{"tags":["case-user-controller"],"summary":"getCaseUsersByCase","operationId":"getCaseUsersByCaseUsingGET","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"getRemovedUsers","in":"query","description":"getRemovedUsers","required":false,"style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCaseUsersResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["case-user-controller"],"summary":"saveCaseUser","operationId":"saveCaseUserUsingPOST","parameters":[{"name":"caseId","in":"path","description":"caseId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveCaseUserRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/users/{userId}/case_users":{"get":{"tags":["case-user-controller"],"summary":"listDashboardCaseUsers","operationId":"listDashboardCaseUsersUsingGET","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"isDefendant","in":"query","description":"isDefendant","required":false,"style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListDashboardCaseUsersResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/certificates/ssl":{"get":{"tags":["certificate-controller"],"summary":"getSSLPublicCertFile","operationId":"getSSLPublicCertFileUsingGET","parameters":[{"name":"encoding","in":"query","description":"encoding","required":true,"style":"form","schema":{"type":"string","enum":["DER","PEM"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SSLCertificateResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationId}/audit-events":{"get":{"tags":["citation-audit-controller"],"summary":"listCitationAuditEvents","operationId":"listCitationAuditEventsUsingGET","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"limit","in":"query","description":"limit","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"includeTypes","in":"query","description":"includeTypes","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ACCOUNT_COVERAGE_ADDED","ACCOUNT_COVERAGE_REMOVED","ACCOUNT_MANAGER_CHANGED","ACCOUNT_NOTIFICATION_STATUS_CHANGED","ACCOUNT_STATUS_CHANGED","CASE_ACCEPT","CASE_BOOKING","CASE_BOOKING_FAILED","CASE_CANCEL","CASE_COUNTER_ACCEPTED","CASE_COUNTER_DECLINED","CASE_COUNTER_INITIATED","CASE_COUNTER_WITHDRAWN","CASE_DECLINE","CASE_MATCH","CASE_PAYMENT_DELETED","CASE_PAYMENT_RESCHEDULED","CASE_RESOLVE","CASE_STATUS","CASE_TRANSFER","CASE_UNSERVICEABLE_REQUEST","CITATION_UPDATED","CITATION_UPLOAD","COURT_COVERAGE_ADDED","COURT_COVERAGE_REMOVED","COURT_FEE_CHANGED","CUSTOMER_REVIEW_ADDED","CUSTOM_FEES_RESET_TO_DEFAULT_FOR_VIOLATION","DECIDE_EXPERIMENT_GROUP_COMMAND","DEFAULT_FEE_ADDED","DEFAULT_FEE_CHANGED","DEFAULT_FEE_REFUND_ELIGIBILITY_CHANGED","DEFAULT_FEE_REMOVED","DRIVER_LICENSE_UPLOADED","EMAIL_SENT","EXTERNAL_TICKET_REQUEST","GHOST_ACCOUNT_CREATED","LAWFIRM_ACCOUNT_PRIORITY","LAWFIRM_ACCOUNT_STATUS","LAWFIRM_ADDRESS_UPDATED","LAWFIRM_DAILY_CAPACITY","LAWFIRM_FEE_REFUNDED","LAWFIRM_NAME_CHANGED","LAWFIRM_PERSONNEL_ADDED","LAWFIRM_PROFILE_UPDATED","LAWFIRM_SETTING_UPDATED","LAWFIRM_SUPPORTED_STATE_UPDATED","LAWFIRM_TOTAL_CAPACITY","LAWFIRM_TRANSFER_REVERSED","LINE_ITEM_ADDED","LINE_ITEM_DELETED","LINE_ITEM_UPDATED","MBG_ELIGIBILITY_CHANGED","NAME_CHANGED","OCR_TEXT_EXTRACTED","PASSWORD_CHANGE","PASSWORD_RESET_REQUESTED","PAYMENT_AUTHORIZED","PAYMENT_CAPTURED","PAYMENT_FAILED","PAYMENT_METHOD_ADD","PAYMENT_METHOD_DELETE","PAYMENT_PLAN_OPTION_CHANGED","PAYMENT_REFUNDED","PAYMENT_SCHEDULED","PHONE_NUMBER_ADDED","PHONE_NUMBER_DELETED","PROFILE_PICTURE_UPDATED","REFERRAL_CODE_APPLIED","REFERRAL_CODE_ATTEMPT_FAILED","REFERRAL_CODE_REMOVED","SAVE_VACATION_MODE_END_DATE","SAVE_VACATION_MODE_REASON","SUBSCRIPTION_PLAN_PURCHASED","UNKNOWN","USER_DELETED","USER_LOGIN_EVENT","USER_MERGE","USER_REGISTRATION","USER_REGISTRATION_ATTRIBUTED","USER_REVIVED","USER_SETTING_UPDATED","VACATION_MODE_TOGGLE","VACATION_MODE_UPDATE","VERIFY_EMAIL","VERIFY_PHONE","VIOLATION_ENABLED_FOR_ALL_COVERED_COURTS"]}},{"name":"excludeTypes","in":"query","description":"excludeTypes","required":false,"style":"form","explode":true,"schema":{"type":"string","enum":["ACCOUNT_COVERAGE_ADDED","ACCOUNT_COVERAGE_REMOVED","ACCOUNT_MANAGER_CHANGED","ACCOUNT_NOTIFICATION_STATUS_CHANGED","ACCOUNT_STATUS_CHANGED","CASE_ACCEPT","CASE_BOOKING","CASE_BOOKING_FAILED","CASE_CANCEL","CASE_COUNTER_ACCEPTED","CASE_COUNTER_DECLINED","CASE_COUNTER_INITIATED","CASE_COUNTER_WITHDRAWN","CASE_DECLINE","CASE_MATCH","CASE_PAYMENT_DELETED","CASE_PAYMENT_RESCHEDULED","CASE_RESOLVE","CASE_STATUS","CASE_TRANSFER","CASE_UNSERVICEABLE_REQUEST","CITATION_UPDATED","CITATION_UPLOAD","COURT_COVERAGE_ADDED","COURT_COVERAGE_REMOVED","COURT_FEE_CHANGED","CUSTOMER_REVIEW_ADDED","CUSTOM_FEES_RESET_TO_DEFAULT_FOR_VIOLATION","DECIDE_EXPERIMENT_GROUP_COMMAND","DEFAULT_FEE_ADDED","DEFAULT_FEE_CHANGED","DEFAULT_FEE_REFUND_ELIGIBILITY_CHANGED","DEFAULT_FEE_REMOVED","DRIVER_LICENSE_UPLOADED","EMAIL_SENT","EXTERNAL_TICKET_REQUEST","GHOST_ACCOUNT_CREATED","LAWFIRM_ACCOUNT_PRIORITY","LAWFIRM_ACCOUNT_STATUS","LAWFIRM_ADDRESS_UPDATED","LAWFIRM_DAILY_CAPACITY","LAWFIRM_FEE_REFUNDED","LAWFIRM_NAME_CHANGED","LAWFIRM_PERSONNEL_ADDED","LAWFIRM_PROFILE_UPDATED","LAWFIRM_SETTING_UPDATED","LAWFIRM_SUPPORTED_STATE_UPDATED","LAWFIRM_TOTAL_CAPACITY","LAWFIRM_TRANSFER_REVERSED","LINE_ITEM_ADDED","LINE_ITEM_DELETED","LINE_ITEM_UPDATED","MBG_ELIGIBILITY_CHANGED","NAME_CHANGED","OCR_TEXT_EXTRACTED","PASSWORD_CHANGE","PASSWORD_RESET_REQUESTED","PAYMENT_AUTHORIZED","PAYMENT_CAPTURED","PAYMENT_FAILED","PAYMENT_METHOD_ADD","PAYMENT_METHOD_DELETE","PAYMENT_PLAN_OPTION_CHANGED","PAYMENT_REFUNDED","PAYMENT_SCHEDULED","PHONE_NUMBER_ADDED","PHONE_NUMBER_DELETED","PROFILE_PICTURE_UPDATED","REFERRAL_CODE_APPLIED","REFERRAL_CODE_ATTEMPT_FAILED","REFERRAL_CODE_REMOVED","SAVE_VACATION_MODE_END_DATE","SAVE_VACATION_MODE_REASON","SUBSCRIPTION_PLAN_PURCHASED","UNKNOWN","USER_DELETED","USER_LOGIN_EVENT","USER_MERGE","USER_REGISTRATION","USER_REGISTRATION_ATTRIBUTED","USER_REVIVED","USER_SETTING_UPDATED","VACATION_MODE_TOGGLE","VACATION_MODE_UPDATE","VERIFY_EMAIL","VERIFY_PHONE","VIOLATION_ENABLED_FOR_ALL_COVERED_COURTS"]}},{"name":"nextPageToken","in":"query","description":"nextPageToken","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListCitationAuditEventsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations":{"post":{"tags":["citation-controller"],"summary":"createNewCitation","operationId":"createNewCitationUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CreateCitationResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/courts/missing":{"get":{"tags":["citation-controller"],"summary":"getListOfCitationsWithMissingCourt","operationId":"getListOfCitationsWithMissingCourtUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetListOfCitationsWithMissingCourtResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/dismiss":{"post":{"tags":["citation-controller"],"summary":"dismissCitationsFromContactList","operationId":"dismissCitationsFromContactListUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DismissCitationsFromContactListRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/no-violation-uploads":{"get":{"tags":["citation-controller"],"summary":"getNoViolationCitations","operationId":"getNoViolationCitationsUsingGET","parameters":[{"name":"regionCodes","in":"query","description":"regionCodes","required":false,"style":"form","explode":true,"schema":{"type":"string"}},{"name":"trailingDays","in":"query","description":"trailingDays","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetNoViolationCitationsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/sign-image-url":{"post":{"tags":["citation-controller"],"summary":"signImageUrl","operationId":"signImageUrlUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SignImageUrlRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SignImageUrlResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationIdString}":{"get":{"tags":["citation-controller"],"summary":"getCitation","operationId":"getCitationUsingGET","parameters":[{"name":"citationIdString","in":"path","description":"citationIdString","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCitationResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["citation-controller"],"summary":"updateCitation","operationId":"updateCitationUsingPUT","parameters":[{"name":"citationIdString","in":"path","description":"citationIdString","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCitationRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["citation-controller"],"summary":"deleteCitation","operationId":"deleteCitationUsingDELETE","parameters":[{"name":"citationIdString","in":"path","description":"citationIdString","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeleteCitationResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/citations/{citationIdString}/dismiss":{"post":{"tags":["citation-controller"],"summary":"setCitationContactListFlag","operationId":"setCitationContactListFlagUsingPOST","parameters":[{"name":"citationIdString","in":"path","description":"citationIdString","required":true,"style":"simple","schema":{"type":"string"}},{"name":"isDismissed","in":"query","description":"isDismissed","required":true,"style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationId}/address":{"post":{"tags":["citation-controller"],"summary":"updateCitationAddress","operationId":"updateCitationAddressUsingPOST","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCitationAddressRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationId}/court":{"delete":{"tags":["citation-controller"],"summary":"deleteCitationCourt","operationId":"deleteCitationCourtUsingDELETE","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/citations/{citationId}/court/missing":{"post":{"tags":["citation-controller"],"summary":"postMissingCourtForCitation","operationId":"postMissingCourtForCitationUsingPOST","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"string"}},{"name":"state","in":"query","description":"state","required":true,"style":"form","schema":{"type":"string","enum":["AK","AL","AR","AZ","CA","CO","CT","DC","DE","FL","GA","HI","IA","ID","IL","IN","KS","KY","LA","MA","MD","ME","MI","MN","MO","MS","MT","NC","ND","NE","NH","NJ","NM","NV","NY","OH","OK","OR","PA","RI","SC","SD","TN","TX","UT","VA","VT","WA","WI","WV","WY"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationId}/courts/missing":{"delete":{"tags":["citation-controller"],"summary":"deleteMissingCourtRecord","operationId":"deleteMissingCourtRecordUsingDELETE","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetListOfCitationsWithMissingCourtResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/v1/citations/{citationId}/lock-citation/{isLocked}":{"put":{"tags":["citation-controller"],"summary":"setLockForCitation","operationId":"setLockForCitationUsingPUT","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"isLocked","in":"path","description":"isLocked","required":true,"style":"simple","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationId}/owner":{"post":{"tags":["citation-controller"],"summary":"assignCitationOwner","operationId":"assignCitationOwnerUsingPOST","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignCitationOwnerRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationId}/picture":{"put":{"tags":["citation-controller"],"summary":"updateCitationPicture","operationId":"updateCitationPictureUsingPUT","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCitationPictureRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/citations/{citationId}/referral-source":{"post":{"tags":["citation-controller"],"summary":"createReferralSourceForCitation","operationId":"createReferralSourceForCitationUsingPOST","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateReferralSourceForCitation"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/citations/{emailAddress}/anonymous-tickets":{"get":{"tags":["citation-controller"],"summary":"getAnonymousTicketUploads","operationId":"getAnonymousTicketUploadsUsingGET","parameters":[{"name":"emailAddress","in":"path","description":"emailAddress","required":true,"style":"simple","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetAnonymousTicketUploads"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/citations/{citationId}":{"delete":{"tags":["citation-controller"],"summary":"toggleDeleteCitation","operationId":"toggleDeleteCitationUsingDELETE","parameters":[{"name":"citationId","in":"path","description":"citationId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"isDeleteRequest","in":"query","description":"isDeleteRequest","required":true,"style":"form","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeleteCitationResponse"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/api/v1/coaching-cards/acknowledge":{"put":{"tags":["coaching-cards-controller"],"summary":"acknowledgeCoachingCard","operationId":"acknowledgeCoachingCardUsingPUT","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCoachingCardRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/api/v1/coaching-cards/categories":{"get":{"tags":["coaching-cards-controller"],"summary":"getCoachingCardCategories","operationId":"getCoachingCardCategoriesUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetCoachingCardCategoriesResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/coaching-cards/cards":{"post":{"tags":["coaching-cards-controller"],"summary":"saveCoachingCard","operationId":"saveCoachingCardUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveCoachingCardRequest"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/coaching-cards/{userId}/cards":{"get":{"tags":["coaching-cards-controller"],"summary":"listUserCoachingCards","operationId":"listUserCoachingCardsUsingGET","parameters":[{"name":"userId","in":"path","description":"userId","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}},{"name":"includeCreated","in":"query","description":"includeCreated","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"includeReceived","in":"query","description":"includeReceived","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"coachingCardType","in":"query","description":"coachingCardType","required":false,"style":"form","schema":{"type":"string","enum":["COACHING","KUDOS"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ListUserCoachingCardsResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/config/app":{"get":{"tags":["configuration-controller"],"summary":"getAppConfiguration","operationId":"getAppConfigurationUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GetAppConfigResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/billing/subscribers":{"get":{"tags":["console-list-controller"],"summary":"listBillingSubscribers","operationId":"listBillingSubscribersUsingGET","parameters":[{"name":"page","in":"query","description":"page","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"length","in":"query","description":"length","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"shouldIncludeSubscribers","in":"query","description":"shouldIncludeSubscribers","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"startDate","in":"query","description":"startDate","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"endDate","in":"query","description":"endDate","required":false,"style":"form","schema":{"type":"string","format":"date-time"}},{"name":"timeZoneId","in":"query","description":"timeZoneId","required":false,"style":"form","schema":{"type":"string"}},{"name":"subscriberName","in":"query","description":"subscriberName","required":false,"style":"form","schema":{"type":"string"}},{"name":"planName","in":"query","description":"planName","required":false,"style":"form","schema":{"type":"string"}},{"name":"billingInterval","in":"query","description":"billingInterval","required":false,"style":"form","schema":{"type":"string","enum":["DAILY","MONTHLY","QUARTERLY","WEEKLY","YEARLY"]}},{"name":"billingSubscriptionStatus","in":"query","description":"billingSubscriptionStatus","required":false,"style":"form","schema":{"type":"string","enum":["ACTIVE","CANCELED","COMPLETE","INCOMPLETE","INCOMPLETE_EXPIRED","IN_TRIAL_PERIOD","PAST_DUE","UNCONFIRMED","UNKNOWN","UNPAID"]}},{"name":"coveredSubscriptionsOnly","in":"query","description":"coveredSubscriptionsOnly","required":false,"style":"form","schema":{"type":"boolean"}},{"name":"sortBy","in":"query","description":"sortBy","required":false,"style":"form","schema":{"type":"string"}},{"name":"sortOrder","in":"query","description":"sortOrder","required":false,"style":"form","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListBillingSubscribersResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/declined":{"post":{"tags":["console-list-controller"],"summary":"getDeclinedCases","operationId":"getDeclinedCasesUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDeclinedCasesRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetDeclinedCasesResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/cases/pending":{"get":{"tags":["console-list-controller"],"summary":"getPendingCases","operationId":"getPendingCasesUsingGET","parameters":[{"name":"page","in":"query","description":"page","required":false,"style":"form","schema":{"type":"integer","format":"int32"}},{"name":"length","in":"query","description":"length","required":false,"style":"form","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPendingCasesResponse"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["console-list-controller"],"summary":"getPendingCases","operationId":"getPendingCasesUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPendingCasesRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPendingCasesResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/console/cases-with-coverage-obtained":{"post":{"tags":["console-list-controller"],"summary":"getCasesWithCoverageObtained","operationId":"getCasesWithCoverageObtainedUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenericAdminListRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCasesWithCoverageObtainedResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/cases/client-confirmed-unpaid":{"post":{"tags":["console-list-controller"],"summary":"getClientConfirmedUnpaidCases","operationId":"getClientConfirmedUnpaidCasesUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetClientConfirmedUnpaidCasesRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetClientConfirmedUnpaidCasesResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/cases/invalid-with-charge":{"post":{"tags":["console-list-controller"],"summary":"getInvalidCasesWithStripeCharge","operationId":"getInvalidCasesWithStripeChargeUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetInvalidCasesWithStripeChargeRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetInvalidCasesWithStripeChargeResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/cases/lost/not-reversed":{"post":{"tags":["console-list-controller"],"summary":"getLostCasesWithTransferNotReversed","operationId":"getLostCasesWithTransferNotReversedUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLostCasesWithTransferNotReversedRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLostCasesWithTransferNotReversedResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/cases/missing-lawfirm-payouts":{"post":{"tags":["console-list-controller"],"summary":"getCasesWithMissingLawfirmPayouts","operationId":"getCasesWithMissingLawfirmPayoutsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCasesWithMissingLawfirmPayoutsRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCasesWithMissingLawfirmPayoutsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/cases/unpaid":{"post":{"tags":["console-list-controller"],"summary":"getCasesWithOverduePayments","operationId":"getCasesWithOverduePaymentsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCasesWithUncapturedChargesRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCasesWithOverduePaymentsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/citation-phone-leads":{"post":{"tags":["console-list-controller"],"summary":"getCitationPhoneLeads","operationId":"getCitationPhoneLeadsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCitationPhoneLeadsRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCitationPhoneLeadsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/citations-with-missing-fields":{"post":{"tags":["console-list-controller"],"summary":"getCitationsWithMissingFields","operationId":"getCitationsWithMissingFieldsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCitationsWithMissingFieldsRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCitationsWithMissingFieldsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/v1/console/disputes":{"post":{"tags":["console-list-controller"],"summary":"findDisputes","operationId":"findDisputesUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindDisputesRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FindChargeDisputesResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/lawfirms/leads":{"post":{"tags":["console-list-controller"],"summary":"listLawfirmLeads","operationId":"listLawfirmLeadsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLawfirmLeadsRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetLawfirmLeadsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/potential-customers":{"post":{"tags":["console-list-controller"],"summary":"listPotentialCustomers","operationId":"listPotentialCustomersUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPotentialCustomersRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPotentialCustomersResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/console/ticket-review-requests/pending":{"post":{"tags":["console-list-controller"],"summary":"getPendingTicketReviews","operationId":"getPendingTicketReviewsUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPendingTicketReviewsRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPendingTicketReviewsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v2/console/citations-with-missing-fields":{"post":{"tags":["console-list-controller"],"summary":"getCitationsWithMissingFieldsV2","operationId":"getCitationsWithMissingFieldsV2UsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCitationsWithMissingFieldsRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetCitationsWithMissingFieldsResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/v1/contact-loop/webhook":{"post":{"tags":["contact-loop-webhook-controller"],"summary":"handleContactLoopEvent","operationId":"handleContactLoopEventUsingPOST","requestBody":{"content":{"application/json":{"schema":{"type":"string"
[...]
